<!DOCTYPE html>
<html>
<title>showAccounts</title>
<div data-th-replace="fragments/head :: head"></div>

<body>
	<div th:replace="fragments/nav :: copy('showAccounts')"></div>

	<div id="left_half_container">
		<h1>Result</h1>
		<p th:text="'id: ' + ${greeting.id}" />
		<p th:text="'name: ' + ${greeting.name}" />
		<p th:text="'surname: ' + ${greeting.surname}" />
		<p th:text="'adresse: ' + ${greeting.adresse}" />
		<p th:text="'zip: ' + ${greeting.zip}" />
		<p th:text="'city: ' + ${greeting.city}" />
		<p th:text="'country ' + ${greeting.country}" />
		<a href="/userSelector">Submit another message</a>
	</div>

	<div id="right_half_container">
	</div>

	<div th:replace="fragments/footer :: copy"></div>
</body>
</html>