<!DOCTYPE html>
<html>
<title>UserSelector</title>
<div data-th-replace="fragments/head :: head"></div>
<body>
<div>
	<div th:replace="fragments/nav :: copy('home')"></div>
</div>


	<div id="left_half_container">

  <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>Vorname: <input type="text" th:field="*{surname}" /></p>
            <p>Adresse: <input type="text" th:field="*{adresse}" /></p>
            <p>PLZ: <input type="text" th:field="*{zip}" /></p>
            <p>Ort: <input type="text" th:field="*{city}" /></p>
            <p>Land: <input type="text" th:field="*{country}" /></p>
    
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

	</div>
	<div id="right_half_container">
	
	
<!-- 			<form th:action="@{/getConsentId}" th:object="${userForm}" -->
<!-- 			method="POST"> -->

<!-- 			<label for="User">Choose a User:</label> <select th:field="*{name}" -->
<!-- 				name="User" id="user"> -->

<!-- 				<option th:each="user : ${users}" th:value="${user.name}" -->
<!-- 					th:utext="${user.name}" /> -->
<!-- 			</select> <br> <br> <input type="submit" value="getConsentId"> -->
<!-- 		</form> -->
	
	
	</div>
	<div th:replace="fragments/footer :: copy"></div>
</body>
</html>