/* StyleSheet PEJO Markus Bolliger */
* {
  box-sizing: border-box;
}
body {
	font-family: Verdana; color: black;	
/* 	 cursor: pointer; */
}

.pic {
margin:3.05em;
padding:5.05em; 
border: 1px solid #ff3b30;
}


div#standardView {
	margin:0.05em;
padding:0.9em; 
border: 1px solid #ff3b30;
min-height: 16em; 
}

/*  The Class head_tl from Head.html */
.head_tl {
padding:0.1em;  
	margin:0.05em;
}
.head_tl {
	background-color: #333;
	overflow: hidden;
}
.head_tl a {
	float: left;
	font-size: 1.6em;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;	
}
.head_tl a:hover {
	background-color: white;
	color: black;
}


div#left_half_container {
	margin:0.05em;
	padding:0.1em;  
	width:49.80%;
	min-height: 16em;
	float: left;
	background: #f0f0f0;
	border: 1px solid #ff3b30;
}
div#right_half_container {
	margin:0.05em;
	padding:0.1em;  
	width:49.80%;
	min-height: 16em;
	float: left;
	background: #f0f0f0;
	border: 1px solid #ff3b30;
}

.footer {
	margin: 0.05em;
	padding: 1em; 
	float: left;
	min-width: 100%;
	color: black;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #ff3b30;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media ( max-width : 800px) {
	div#standardView, div#left_half_container, div#right_half_container{
		width: 100%;
	}}